mods/
/local/ftbchunks/data
/local/ftbutilities/
/local/ftbultimine/
/local/ftbquests/**
crash-reports/
saves/
.curseclient
ds_private_storage.json
servers.dat
servers.dat_old
.mixin.out/
.fabric/
slotlock.json
usercache.json
instr.png
options.txt
patchouli_data.json
ModTranslations/
polymer-resourcepack.zip
realms_persistence.json
deaths.dat
dashloader-cache/
screenshots/
TrashSlotSaveState.json
automation/secrets.ps1
automation/ModListCreator-1.2.1.jar
*.zip
TwitchExportBuilder.exe
config/cosmetica/cached_cloaks.json
config/fabric/indigo-renderer.properties
config/indium-renderer.properties
patched_shaders/
*.tmp1
ESM/
not-enough-crashes/
logs/
journeymap/
client_data/
server_files/